* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(8, 61, 111);
    color: black;
}

main {
    width: 1150px;
    margin: 45px;
    display: grid;
    grid-template-columns: 200px 5 fr;
    grid-template-rows: 10rem 10rem 15rem 40%;
}

h1 {
    font-size: 40px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    line-height: .8;
    margin: 50px 0 16px;

}

section {
    background-color: rgb(200, 196, 196);
    padding: 30px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
    height: 400px;
    width: 1350px;
}

section img {
    width: 300px;
    height: 300px;
    border: 5px solid transparent;
    padding: 3px;
}

section img:hover {
    border: 5px solid rgb(110, 151, 201);
}

section.no-voting img:hover {
    border: 5px solid transparent;
    cursor: none;
}

ul {
    background-color: aliceblue;
    margin: 1rem;
}

li {
    margin: 5px;
}

section+div{
    background-color: rgb(92, 144, 192);
    color: aliceblue;
    font-size: 30px;
    padding: 8px 15px;
    margin: 15px;
    height: max-content;
    width: max-content;
}

.results {
    
}