* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(8, 61, 111);
    color: black;
    height: auto;
}

nav a {
    color: rgb(173, 190, 181);
    text-decoration: none;
    background-color: rgb(129, 29, 154);
    padding: 8px;
    border-radius: 10px;
}

nav li {
    display: inline;
    padding: 30px;
}

.nav-ul {
    text-decoration: none;
}

main {
    width: 1150px;
    margin: 45px;
}

h1 {
    font-size: 50px;
    color: whitesmoke;
    font-style: italic;
    width: 310px;
    margin-left: 525px;
    text-align: center;
    padding-bottom: 80px;
}

section {
    background-color: rgb(68, 116, 173);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 20px 5px rgb(45, 79, 172);
    padding: 45px;
    height: 400px;
    width: 1350px;
}

section img {
    width: 300px;
    height: 300px;
    padding: 3px;
}

section img:hover {
    border: 5px solid rgb(198, 210, 224);
}

section.no-voting img:hover {
    border: 5px solid transparent;
    cursor: none;
}

section+div {
    background-color: rgb(92, 144, 192);
    padding: 8px 15px;
    margin: 15px;
    height: max-content;
    width: max-content;
}

.results {
    background-color: rgb(170, 191, 208);
    margin: 1rem;
    width: 700px;
    height: 500px;
    margin-top: 80px;
    margin-left: 320px;
    font-size: 30px;
}

ul {
    color: rgb(3, 2, 25);
    font-size: 20px;
    padding-left: 50px;
    padding-top: 30px;
}

.results button {
    color: black;
    background-color: rgb(112, 176, 215);
    border-radius: 15px;
    height: 50px;
    width: 400px;
    font-size: 30px;
    font-style: italic;
    margin-left: 135px;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center;
}

footer {
    margin-top: 100px;
    width: 1000px;
    margin-left: 225px;
}